*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navber{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    cursor: pointer;
    margin: 30px 0;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
     
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: padding 0.5s;
    
}
nav ul li a:hover{
    color: #ff5e;
    background-color: #f01e2c;
    padding: 10px;
    border-radius: 40px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    
}

.col-1 h2{
    font-size: 54px;
    color: #ff2c2c;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 7px;
}
.col-1 p{
    font-size: 18px;
    color: #fff;
    font-weight: 100;
    display: inline-block;
    background-color: #c29200;
    border: 20px;
    border-radius: 60px;
}
.col-1 h4{
    font-size: 20px;
    color: #3388ff;
    margin: 30px 0;   
}

button{
    width: 140px;
    border: 0;
    padding: 10px 12px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 10px;
    cursor: pointer;
    transition: width 1s;
}
button img{
    width: 30px;
    display: none;
}
button:hover img{
    display: block;    
}
button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-1::after{
    content: '';
    width: 10px;
    height: 70%;
    background: linear-gradient(#bbc0c4, #8b949a);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .sleevs{
    width: 40%;
}
.color-box{
    position: absolute;
    right: 0;
    left: 140px;
    top: 0;
    background: linear-gradient(#bbc0c4, #667075);
    border-radius: 20px 0 0 50px;
    height: 100%;
    width: 100%;
    z-index: -3;
}


.add-btn img{
    width: 45px;
    margin-bottom: 5px;
    border: 2px solid;
    border-radius: 180px;
    padding: 15px;
}
.add-btn{
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    top: 8%;
    left: 5;
}

.social-links img{
    height: 33px;
    margin: 20px;
    cursor: pointer;
}
.social-links{
    text-align: center;
}





@media only screen and (max-width:700px){
    
    nav ul{
        width: 100%;
        background:  linear-gradient(#fb5283, #ff3527);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        margin-top: 10px;
        margin-bottom: 10px;
       list-style: none;
        text-align: center;
        
    }
    nav ul li{
        display: block;
        
    }
    nav ul li a{
        color: #fff;
        margin-top: 0;
        margin-bottom: 0;
         display: inline-block;
        
    }
    .logo{
        display: block;
        height: 100px;
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .col-2 .sleevs sleevs-2{
        width: 55%;
}
    .color-box{
        transform: translateY(45px);
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-1 h2{
        font-size: 35px;
    }
    .col-1 h3{
        font-size: 19px;
    }






















































